
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span>HAKKIMIZDA</span></h2>
			
<section class="main-content">
    <div class="row">
        <div class="span5">
            <div>
                <h5>İletişim Bilgileri</h5>
                <p>
                    <strong>Phone:</strong>&nbsp;(123) 456-7890<br>
                   
                    <strong>Email:</strong>&nbsp;<a href="#">marketim@yahoo.com</a>
                </p>
                <br />
               
            </div>
        </div>
        <div class="span7">
           
            <p>Marketim , 2000 yılında kurulmuş olup , verdiği ürün güvencesiyle bu süre zarfında hizmetlerde bulunmuştur.Marketimizde temizlik , gıda ve pek çok ürün çeşidi bulunmaktadır.
                Sattığı tüm ürünlerde kullanıcı memnuniyetini göz önünde bulundurmakta olan marketimiz ,yüksek hizmet kalitesiyle müşterilerini beklemektedir.</p>
          
   
        </div>
    </div>
</section>			
